/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: rubikregular;
  background-color: wheat;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* font imported*/
@font-face {
  font-family: "rubikbold";
  src: url("./font/rubik-bold-webfont.woff2") format("woff2"),
    url("./font/rubik-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rubikregular";
  src: url("./font/rubik-regular-webfont.woff2") format("woff2"),
    url("./font/rubik-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*  here my css starts */

.container {
  width: min(80%, 70rem);
  margin-inline: auto;
}

header {
  background-color: rgb(102, 207, 238);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.up {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name {
  margin-left: 5px;
}

.nav {
  margin-left: 45rem;
}

.logo {
  margin-left: 10px;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.first {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-top: 15px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-content: center;
  margin-right: 20rem;
  border: 2px solid black;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  font-family: rubikbold;
  font-size: 1.2rem;
}

.container,
.section,
h2 {
  width: min(80%, 1000px);
  margin-inline: auto;
}

.fa-bars {
  position: fixed;
  right: 20px;
  top: 20px;
}

.fa-xmark {
  position: fixed;
  right: 40px;
  top: 5px;
  border: 2px solid black;
}

@media screen and (max-width: 555px) {
  body,
  .container,
  .section,
  h2 {
    width: 90%;
  }
  .nav {
    margin-left: 5rem;
  }
  body {
    width: 100%;
  }
}
